In [2]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [63]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# QUESTION 1

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.shine.com/")

In [6]:
search=driver.find_element(By.CLASS_NAME, "input")
search.click()

In [7]:
designation=driver.find_element(By.CLASS_NAME, "form-control  ")
designation.send_keys('Data Analyst')

In [8]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [9]:
Click=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button ")
Click.click()

In [48]:
job_title=[]
Orgs=[]
exp_req=[]
job_location=[]

In [49]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

jobs=job_title[:10]

In [50]:
jobs          #top 10 job offers

['Lead Data Analyst',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Modeler data',
 'Data Modeller',
 'Data Modeler Bangalore',
 'Data Modeler',
 'Clinical Data Analyst',
 'Data Analyst Hiring Fresher and Experience']

In [51]:
org_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in org_tags:
    org=i.text
    Orgs.append(org)
    
company=Orgs[:10]

In [52]:
company      #top 10 companies offering

['ara resources private limited',
 'diraa hr services hiring for mncs',
 'yogita staffing solution',
 'techno endura',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'quiscon biotech',
 'kavya interprises']

In [54]:
xp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in xp_tags:
    a=i.text
    exp_req.append(a)

experience=exp_req[:10]

In [56]:
experience         #experience required

['4 to 9 Yrs',
 '0 to 1 Yr',
 '0 to 3 Yrs',
 '0 to 1 Yr',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '0 to 2 Yrs',
 '0 to 4 Yrs']

In [58]:
loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc:
    b=i.text
    job_location.append(b)

location=job_location[:10]

In [60]:
location           # top 10 locations

['Bangalore',
 'Bangalore\n+3',
 'Bangalore\n+14',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+4',
 'Bangalore\n+13']

In [62]:
job_data=pd.DataFrame({})
job_data['Title']=jobs
job_data['Organisation']=company
job_data['Experience_req']=experience
job_data['Location']=location
job_data

,Title,Organisation,Experience_req,Location
0,Lead Data Analyst,ara resources private limited,4 to 9 Yrs,Bangalore
1,Data Analyst,diraa hr services hiring for mncs,0 to 1 Yr,Bangalore\n+3
2,Vacancy For Data Analyst,yogita staffing solution,0 to 3 Yrs,Bangalore\n+14
3,Clinical Data Analyst,techno endura,0 to 1 Yr,Bangalore\n+6
4,Data Modeler data,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
5,Data Modeller,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
6,Data Modeler Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
7,Data Modeler,boyen haddin consulting and technol...,3 to 6 Yrs,Bangalore
8,Clinical Data Analyst,quiscon biotech,0 to 2 Yrs,Bangalore\n+4
9,Data Analyst Hiring Fresher and Experience,kavya interprises,0 to 4 Yrs,Bangalore\n+13

# QUESTION 2

In [85]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [115]:
driver = webdriver.Chrome()

In [116]:
driver.get("https://www.shine.com/")

In [118]:
search=driver.find_element(By.CLASS_NAME, "input")
search.click()

In [119]:
designation=driver.find_element(By.CLASS_NAME, "form-control  ")
designation.send_keys('Data Scientist')

In [95]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [96]:
press=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button ")
press.click()

In [100]:
job_title=[]
company=[]
job_location=[]

In [110]:
titles=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in titles:
    title=i.text
    job_title.append(title)
jobs_=job_title[:10]

In [111]:
org_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in org_name:
    org=i.text
    Orgs.append(org)
    
company=Orgs[:10]

In [112]:
loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc:
    a=i.text
    job_location.append(a)

location=job_location[:10]

In [113]:
job=pd.DataFrame({})
job['job_title']=jobs_
job['Location']=location
job['Company_name']=company
job

,job_title,Location,Company_name
0,Data Scientist,Bangalore\n+4,ara resources private limited
1,Data Scientist,Bangalore,diraa hr services hiring for mncs
2,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,yogita staffing solution
3,Senior Data Scientist,Bangalore\n+1,techno endura
4,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,boyen haddin consulting and technol...
5,Lead Data Scientist,Bangalore\n+1,boyen haddin consulting and technol...
6,Data Scientist,Bangalore\n+7,boyen haddin consulting and technol...
7,Data Scientist Urgent Vacancy,Bangalore\n+14,boyen haddin consulting and technol...
8,Data Scientist,Bangalore\n+2,quiscon biotech
9,Pharma Data Scientist,Bangalore\n+4,kavya interprises

# QUESTION 3

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [67]:
driver = webdriver.Chrome()

In [68]:
driver.get("https://www.shine.com/")

In [69]:
search=driver.find_element(By.CLASS_NAME, "input")
search.click()

In [71]:
designation=driver.find_element(By.CLASS_NAME, "form-control  ")
designation.send_keys('Data Scientist')

In [72]:
press=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button ")
press.click()

In [77]:
press=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button ")
press.click()

In [79]:
search=driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
search.click()

In [80]:
search=driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[3]/div/ul/li[1]")
search.click()

In [81]:
search=driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[13]/span/label")
search.click()

In [82]:
search=driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[4]/button[2]")
search.click()

In [83]:
job_title=[]
company=[]
experience_req=[]
job_location=[]

In [84]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

jobs=job_title[:10]

In [87]:
org_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in org_name:
    org=i.text
    company.append(org)
    
organisations=company[:10]

In [88]:
xp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in xp_tags:
    a=i.text
    experience_req.append(a)

experience=experience_req[:10]

In [89]:
loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc:
    a=i.text
    job_location.append(a)

location=job_location[:10]

In [90]:
job_data=pd.DataFrame({})
job_data['Title']=jobs
job_data['Organisation']=organisations
job_data['Experience_req']=experience
job_data['Location']=location
job_data

,Title,Organisation,Experience_req,Location
0,Data Scientist,acme services private limited,3 to 5 Yrs,Delhi\n+4
1,Clinical Data Analyst,techno endura,0 to 1 Yr,Delhi\n+6
2,Bioanalytical Research,techno endura,0 to 1 Yr,Delhi\n+6
3,Bioanalytical Research Associates,techno endura,0 to 1 Yr,Delhi\n+6
4,Clinical Data Management,techno endura,0 to 1 Yr,Delhi\n+6
5,Clinical Analyst Fresher,techno endura,0 to 1 Yr,Delhi\n+6
6,Junior Clinical Data Management,techno endura,0 to 1 Yr,Delhi\n+6
7,Data Engineer,future solution centre,10 to 20 Yrs,Delhi\n+9
8,Biostatistician,national seeds corporation limited,2 to 7 Yrs,Delhi\n+17
9,Clinical Document Specialist,techno endura,0 to 1 Yr,Delhi\n+6

# QUESTION 4

In [91]:
driver = webdriver.Chrome()

In [92]:
driver.get("https://www.flipkart.com/")

In [95]:
typing=driver.find_element(By.CLASS_NAME, "Pke_EE ")
typing.send_keys('sunglasses')

In [97]:
press=driver.find_element(By.CLASS_NAME, "_2iLD__")
press.click()

In [182]:
brands=[]
productdescriptions=[]
prices_=[]
discount_percs=[]

In [175]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag:
    title=i.text
    brands.append(title)        #first 40 brands

In [176]:
productd=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productd:
    title=i.text
    productdescriptions.append(title)     #first 40 product description

In [183]:
prices1=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in prices1:
    title=i.text
    prices_.append(title)     #first 40 price

In [184]:
disc=driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
for i in disc:
    disc=i.text
    discount_percs.append(disc)    #first 40 discount percentage

In [185]:
page2=driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]")
page2.click()

In [186]:
brand_tag2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag2:
    title=i.text
    brands.append(title)        #second 40 brands = 80

In [187]:
productd2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productd2:
    title=i.text
    productdescriptions.append(title)    #second 40 product des.. = 80

In [188]:
prices2=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in prices2:
    title=i.text
    prices_.append(title)     # second 40 prices = 80

In [189]:
disc2=driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
for i in disc2:
    disc=i.text
    discount_percs.append(disc)    # second 40 disc percentage = 80

In [191]:
page3=driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]")
page3.click()

In [194]:
brand_tag3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag3:
    title=i.text
    brands.append(title)     #last 40 brands

In [196]:
productd=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productd:
    title=i.text
    productdescriptions.append(title)                #last 40 description

In [197]:
prices=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in prices:
    title=i.text
    prices_.append(title)           #last 40 prices

In [200]:
disc=driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
for i in disc:
    title=i.text
    discount_percs.append(title)        #last 40 discount percntage

In [204]:
brands_data=brands[:100]
products_data=productdescriptions[:100]
price_data=prices_[:100]
discount_data=discount_percs[:100]

# QUESTION 5

In [217]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [206]:
driver = webdriver.Chrome()

In [207]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [248]:
ratings_=[]
review_sums=[]
full_reviews=[]

In [249]:
start = 0
end = 10
for page in range(start,end):
    rating=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        ratings_.append(i.text)
        
    review=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for b in review:
        review_sums.append(b.text)
        
    full_r=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for d in full_r:
        full_reviews.append(d.text)
        
next_button = WebDriverWait(driver, 10).until(
EC.element_to_be_clickable((By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]'))
)
next_button.click()

In [251]:
print(len(ratings_), len(review_sums), len(full_reviews))

100 100 100

# QUESTION 6

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [252]:
driver = webdriver.Chrome()

In [253]:
driver.get("https://www.flipkart.com/")

In [254]:
typing=driver.find_element(By.CLASS_NAME, "Pke_EE ")
typing.send_keys('sneakers')

In [255]:
press=driver.find_element(By.CLASS_NAME, "_2iLD__")
press.click()

In [285]:
brands_=[]
product_dis=[]
prices_=[]

In [286]:
start = 0
end = 3
for page in range(start,end):
    brands_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands_name:
        title1=i.text
        brands_.append(title1)
next_button = WebDriverWait(driver, 10).until(
EC.element_to_be_clickable((By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]'))
)
next_button.click()

In [290]:
start = 0
end = 3
for page in range(start,end):
    products=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in products:
        title2=i.text
        product_dis.append(title2)
        
    products2=driver.find_elements(By.XPATH, '//a[@class="IRpwTa _2-ICcC"]')
    for i in products2:
            title=i.text
            product_dis.append(products2)
next_button = WebDriverWait(driver, 10).until(
EC.element_to_be_clickable((By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]'))
)
next_button.click()

In [289]:
start = 0
end = 3
for page in range(start,end):
    prices=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for i in prices:
        title3=i.text
        prices_.append(title3)
next_button = WebDriverWait(driver, 10).until(
EC.element_to_be_clickable((By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]'))
)
next_button.click()

In [292]:
brands=brands_[:100]
product_discription=product_dis[:100]
prices=prices_[:100]

In [293]:
print(len(brands),len(product_discription),len(prices))

100 100 100

# QUESTION 7

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [19]:
driver = webdriver.Chrome()

In [20]:
driver.get("https://www.amazon.com/")

In [21]:
typing=driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input ")
typing.send_keys('laptop')

In [22]:
press=driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
press.click()

In [25]:
press=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span/li/span/div/a")
press.click()

In [27]:
press=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span/li/span/div/div/ul/span[15]/li/span/a/div")
press.click()

In [62]:
Title=[]
Ratings__=[]
Prices__=[]

In [29]:
title_tag=driver.find_elements(By.XPATH,'//H2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tag:
    titles=i.text
    Title.append(titles)

Titles_=Title[:10]

In [54]:
ratings_tag=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
for i in ratings_tag:
    titles=i.text
    Ratings__.append(titles)

Rate=Ratings__[:10]

In [63]:
prices_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prices_tag:
    title=i.text
    Prices__.append(title)

PriceS=Prices__[:10]

In [65]:
print(len(Titles_),len(Rate),len(PriceS))

10 10 10

# QUESTION 8

In [83]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [67]:
driver = webdriver.Chrome()

In [68]:
driver.get("https://www.azquotes.com/")

In [70]:
press=driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
press.click()

In [72]:
Quotes1=[]
author1=[]
type_of1=[]

In [ ]:
Quotes_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tag:
    titles=i.text
    Title.append(titles)

In [73]:
start = 0
end = 10
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        title=i.text
        Quotes1.append(title)
next_button = WebDriverWait(driver, 10).until(
EC.element_to_be_clickable((By.XPATH, "/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a"))
)
next_button.click()

In [78]:
start = 0
end = 10
for page in range(start,end):
    authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors:
        title=i.text
        author1.append(title)
next_button = WebDriverWait(driver, 10).until(
EC.element_to_be_clickable((By.XPATH, "/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a"))
)
next_button.click()

In [81]:
start = 0
end = 10
for page in range(start,end):
    type_=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_:
        title=i.text
        type_of1.append(title)
next_button = WebDriverWait(driver, 10).until(
EC.element_to_be_clickable((By.XPATH, "/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a"))
)
next_button.click()

In [86]:
data=pd.DataFrame({})
data['quotes']=Quotes1[:10]
data['author']=author1[:10]
data['type of']=type_of1[:10]
data

,quotes,author,type of
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
5,Be more concerned with your character than you...,John Wooden,"Inspirational, Success, Basketball"
6,Weak people revenge. Strong people forgive. In...,Albert Einstein,"Strong, Revenge, Intelligent"
7,A mind is like a parachute. It doesn't work if...,Frank Zappa,"Inspirational, Teacher, Religious"
8,Never be afraid to raise your voice for honest...,William Faulkner,"Truth, Honesty, Lying"
9,There are three kinds of men. The one that lea...,Will Rogers,"Funny, Reading, Learning"

In [87]:
print(len(Quotes1),len(author1),len(type_of1))

1000 1000 1000

# QUESTION 9

In [88]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [164]:
driver = webdriver.Chrome()

In [165]:
driver.get("https://www.jagranjosh.com/")

In [170]:
press=driver.find_element(By.XPATH, "/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a")
press.click()

In [176]:
press=driver.find_element(By.XPATH, "/html/body/div[1]/div[8]/section[5]/div[1]/span/a")
press.click()

In [177]:
press=driver.find_element(By.XPATH, "/html/body/div[1]/main/div[1]/div[1]/section[2]/div/ul/li[9]/article/h3/a")
press.click()

In [179]:
All=[]
Born_Dead=[]
Term_of_office=[] 
Remarks=[]

In [180]:
data=driver.find_elements(By.XPATH,'//td[@valign="top"]')
for i in data:
    titles=i.text
    All.append(titles)

In [181]:
All

['1.',
 'Jawahar Lal Nehru',
 '(18891964)',
 '15 August 1947 to 27 May 1964\n16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,\n13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(19041966)',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '5.',
 'Indira Gandhi',
 '(19171984)',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(18961995)',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(19021987)',
 '28 July 1979 to 14 January 1980\n170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(19171984)',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(19441991)',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(19312008)',
 '2 December 1989 to 10 November 1990\n343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(19272007)',
 '10 November 1990 to 21 June 1991\n223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(19212004)',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 'First PM from South India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996\n16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997\n324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(19192012)',
 '21 April 1997 to 19 March 1998 \n332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - 2019',
 '4th Prime Minister of India who served two consecutive tenures']

In [195]:
data_string = [
 '1.',
 'Jawahar Lal Nehru', '(18891964)',
 '15 August 1947 to 27 May 1964\n16 years, 286 days',
  'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
    
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,\n13 days',
 'First acting PM of India',
    
 '3.',
 'Lal Bahadur Shastri',
 '(19041966)',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
    
 '5.',
 'Indira Gandhi',
 '(19171984)',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 'First female Prime Minister of India',
    
 '6.',
 'Morarji Desai',
 '(18961995)',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
    
 '7.',
 'Charan Singh',
 '(19021987)',
 '28 July 1979 to 14 January 1980\n170 days',
 'Only PM who did not face the Parliament',
    
 '8.',
 'Indira Gandhi',
 '(19171984)',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 'The first lady who served as PM for the second term',
    
 '9.',
 'Rajiv Gandhi',
 '(19441991)',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 'Youngest to become PM (40 years old)',
    
 '10.',
 'V. P. Singh',
 '(19312008)',
 '2 December 1989 to 10 November 1990\n343 days',
 'First PM to step down after a vote of no confidence',
    
 '11.',
 'Chandra Shekhar',
 '(19272007)',
 '10 November 1990 to 21 June 1991\n223 days',
 'He belongs to  Samajwadi Janata Party',
    
 '12.',
 'P. V. Narasimha Rao',
 '(19212004)',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 'First PM from South India',
    
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996\n16 days',
 'PM for shortest tenure',
    
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997\n324 days',
 'He belongs to  Janata Dal',
    
 '15.',
 'Inder Kumar Gujral',
 '(19192012)',
 '21 April 1997 to 19 March 1998 \n332 days',
 '------',
    
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
    
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 ' First Sikh PM',
    
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - 2019',
 '4th Prime Minister of India who served two consecutive tenures']

data_groups = [data_string[i:i + 5] for i in range(0, len(data_string), 5)]

df = pd.DataFrame(data_groups, columns=['Number', 'Name', 'Years', 'Term', 'Details'])

print(df)

   Number                       Name         Years  \
0      1.          Jawahar Lal Nehru   (18891964)
1      2.  Gulzarilal Nanda (Acting)   (1898-1998)
2      3.        Lal Bahadur Shastri   (19041966)
3      5.              Indira Gandhi   (19171984)
4      6.              Morarji Desai   (18961995)
5      7.               Charan Singh   (19021987)
6      8.              Indira Gandhi   (19171984)
7      9.               Rajiv Gandhi   (19441991)
8     10.                V. P. Singh   (19312008)
9     11.            Chandra Shekhar   (19272007)
10    12.        P. V. Narasimha Rao   (19212004)
11    13.       Atal Bihari Vajpayee  (1924- 2018)
12    14.           H. D. Deve Gowda   (born 1933)
13    15.         Inder Kumar Gujral   (19192012)
14    16.       Atal Bihari Vajpayee   (1924-2018)
15    17.             Manmohan Singh   (born 1932)
16    18.              Narendra Modi   (born 1950)

                                                 Term  \
0   15 August 1947 to 27 May 1964\n16 years, 286 days
1                27 May 1964 to 9 June 1964,\n13 days
2    9 June 1964 to 11 January 1966\n1 year, 216 days
3   24 January 1966 to 24 March 1977\n11 years, 59...
4   24 March 1977 to  28 July 1979 \n2 year, 126 days
5           28 July 1979 to 14 January 1980\n170 days
6   14 January 1980 to 31 October 1984\n4 years, 2...
7   31 October 1984 to 2 December 1989\n5 years, 3...
8       2 December 1989 to 10 November 1990\n343 days
9          10 November 1990 to 21 June 1991\n223 days
10     21 June 1991 to 16 May 1996\n4 years, 330 days
11                16 May 1996 to 1 June 1996\n16 days
12             1 June 1996 to 21 April 1997\n324 days
13          21 April 1997 to 19 March 1998 \n332 days
14    19 March 1998 to 22 May 2004 \n6 years, 64 days
15    22 May 2004 to 26 May 2014   \n10 years, 4 days
16                                 26 May 2014 - 2019

                                              Details
0   The first prime minister of India and the long...
1                            First acting PM of India
2   He has given the slogan of 'Jai Jawan Jai Kisa...
3                First female Prime Minister of India
4   Oldest to become PM (81 years old) and first t...
5             Only PM who did not face the Parliament
6   The first lady who served as PM for the second...
7                Youngest to become PM (40 years old)
8   First PM to step down after a vote of no confi...
9               He belongs to  Samajwadi Janata Party
10                          First PM from South India
11                             PM for shortest tenure
12                          He belongs to  Janata Dal
13                                             ------
14   The first non-congress PM who completed a ful...
15                                      First Sikh PM
16  4th Prime Minister of India who served two con...

# QUESTION 10

In [113]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [114]:
driver = webdriver.Chrome()

In [115]:
driver.get("https://www.motor1.com/")

In [116]:
typing=driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input ")
typing.send_keys('50 most expensive cars')

In [117]:
press=driver.find_element(By.XPATH, "/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
press.click()

In [118]:
press=driver.find_element(By.XPATH, "/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
press.click()

In [141]:
Car_name=[]
Price11=[]

In [148]:
car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car:
    title=i.text
    Car_name.append(title)

Carn=Car_name[:50]

In [144]:
price_element = driver.find_elements(By.XPATH, '//strong[contains(text(), "Price")]')
for i in price_element:
    title=i.text
    Price11.append(title)

In [163]:
min_length = min(len(Carn), len(Price11))

data1 = pd.DataFrame({
    'car_name': Carn[:min_length],
    'Price': Price11[:min_length]
})

print(data1)

                           car_name                        Price
0               Aston Martin Valour          Price: $1.5 Million
1                      McLaren Elva          Price: $1.7 Million
2                       Czinger 21C          Price: $1.7 Million
3                     Ferrari Monza          Price: $1.7 Million
4                Gordon Murray T.33          Price: $1.7 Million
5                 Koenigsegg Gemera          Price: $1.7 Million
6                       Zenvo TSR-S          Price: $1.7 Million
7                Hennessey Venom F5          Price: $1.8 Million
8                   Bentley Bacalar          Price: $1.9 Million
9     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10           Bentley Mulliner Batur          Price: $2.0 Million
11                     Deus Vayanne          Price: $2.0 Million
12                      SSC Tuatara          Price: $2.0 Million
13                      Lotus Evija          Price: $2.1 Million
14              Aston Martin Vulcan          Price: $2.3 Million
15                       Delage D12          Price: $2.3 Million
16              Ferrari Daytona SP3          Price: $2.3 Million
17                McLaren Speedtail          Price: $2.3 Million
18                     Rimac Nevera          Price: $2.4 Million
19                    Pagani Utopia          Price: $2.5 Million
20             Pininfarina Battista          Price: $2.5 Million
21               Gordon Murray T.50          Price: $2.6 Million
22             Lamborghini Countach          Price: $2.6 Million
23         Mercedes-AMG Project One          Price: $2.7 Million
24                     Zenvo Aurora          Price: $2.8 Million
25              Aston Martin Victor          Price: $3.0 Million
26      Hennessey Venom F5 Roadster          Price: $3.0 Million
27                 Koenigsegg Jesko          Price: $3.2 Million
28            Aston Martin Valkyrie          Price: $3.4 Million
29        W Motors Lykan Hypersport          Price: $3.6 million
30                    McLaren Solus          Price: $3.7 Million
31                 Lamborghini Sian          Price: $3.9 Million
32                 Koenigsegg CC850          Price: $4.5 Million
33  Bugatti Chiron Super Sport 300+          Price: $4.7 Million
34               Lamborghini Veneno          Price: $4.8 Million
35                   Bugatti Bolide          Price: $5.0 Million
36        Pininfarina B95 Speedster          Price: $5.4 Million
37                  Bugatti Mistral          Price: $5.8 Million
38              Pagani Huayra Imola          Price: $6.4 Million
39                     Bugatti Divo          Price: $7.4 Million
40              SP Automotive Chaos          Price: $7.5 Million
41                 Pagani Codalunga          Price: $8.0 Million
42                     777 Hypercar          Price: $9.0 Million
43         Mercedes-Maybach Exelero         Price: $10.8 Million
44               Bugatti Centodieci         Price: $12.8 Million
45          Bugatti Chiron Profile         Price: $13.4 Million
46             Rolls-Royce Sweptail  Price: $28.0 Million (est.)
47         Bugatti La Voiture Noire    Price: $30 Million (est.)