In [10]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# ANSWER 1

In [103]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [104]:
page

In [105]:
soup = BeautifulSoup(page.content, "html.parser")

In [106]:
titles = soup.find_all(["h2", "h3", "h4", "h5", "h6"])
header_texts = [tag.get_text() for tag in titles]

In [56]:
df = pd.DataFrame(header_texts, columns=["headers"])

In [57]:
df

                         headers
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

# ANSWER 2

In [10]:
resp = requests.get("https://presidentofindia.nic.in/former-presidents")
resp

In [11]:
soup = BeautifulSoup(resp.content, "html.parser")
table = soup.find("table")
names = []
terms = []   

for row in table.find_all("tr")[1:]:    
    columns = row.find_all("td")
    name = columns[0].text.strip()
    term = columns[1].text.strip()
  
names.append(name)
terms.append(term)

data = {"Name": names, "Term of Office": terms}
df = pd.DataFrame(data)

print(df)

AttributeError: 'NoneType' object has no attribute 'find_all'

# ANSWER 3

In [ ]:
Link not functional https://www.icc-cricket.com/rankings/team-rankings/mens/odi

# ANSWER 4

In [95]:
Link not functional

SyntaxError: invalid syntax (4083605064.py, line 1)

# `ANSWER 5

In [38]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [39]:
response = requests.get("https://www.cnbc.com/world/?region=world")

In [40]:
response

In [41]:
soup = BeautifulSoup(response.content, "html.parser")

articles = soup.find_all("div", class_="Card-titleContainer")

In [44]:
headlines = []
times = []
links = []

for article in articles:
    headline_element = article.find("a")
    time_element = article.find("time")

    if headline_element:
        headline = headline_element.text.strip()
    else:
        headline = "N/A"

    if time_element:
        time = time_element.text.strip()
    else:
        time = "N/A"

    link = headline_element["href"] if headline_element else "N/A"

    headlines.append(headline)
    times.append(time)
    links.append(link)

In [45]:
headline

'The ultimate guide to acing your interview and landing your dream job in 2024'

In [46]:
time

'N/A'

In [48]:
link

'https://www.cnbc.com/2024/01/10/the-ultimate-guide-to-acing-your-interview-and-landing-your-dream-job-in-2024.html'

# Answer 6

In [63]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

articles_container = soup.find("div", class_="pod-listing")

titles = []
authors = []
dates = []
urls = []

for article in articles_container.find_all("li"):
  # Scrape the title
  title = article.find("h3").text.strip()
  titles.append(title)
  
  author = article.find("span", class_="text-xs").text.strip()
  authors.append(author)
  
  date = article.find("span", class_="text-xs").find_next_sibling("span").text.strip()
  dates.append(date)
  
  url = article.find("a")["href"]
  urls.append(url)

data = {
  "Paper Title": titles,
  "Authors": authors,
  "Published Date": dates,
  "Paper URL": urls
}
df = pd.DataFrame(data)

#dataframe
print(df)

# Answer 7'

In [64]:
from bs4 import BeautifulSoup
import requests

In [65]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [96]:
soup = BeautifulSoup(page.content)

In [97]:
Restaurant_titles = []

for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant_titles.append(i.text)
    
Restaurant_titles

['Castle BarbequeConnaught Place, Central Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'The Barbeque TimesM2K Corporate Park,Sector 51, Gurgaon']

In [98]:
locations = []

for e in soup.find_all('div',class_="restnt-loc ellipsis"):
    locations.append(e.text)
    
locations

['Connaught Place, Central Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Hilton Garden Inn,Saket, South Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'M2K Corporate Park,Sector 51, Gurgaon']

In [99]:
images_url = []
for i in soup.find_all("img", class_="no-img"):
    images_url.append(i['data-src'])

images_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/q/t/p2687-169589385765154961ea87c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/u/r/p106428-166073786162fcd945925a9.jpg?tr=tr:n-medium']

In [100]:
Ratings = []

for e in soup.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(e.text)
    
Ratings

['4', '4.3', '3.9', '3.9', '3.7', '3.8', '4.1']

In [101]:
df = pd.DataFrame({'Restaurant_name': Restaurant_titles, 'Location': locations, 'Image_urls' : images_url, 'Ratings' : Ratings})

In [102]:
df

,Restaurant_name,Location,Image_urls,Ratings
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...,4
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...,4.3
2,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...,3.9
3,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...,3.9
4,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...,3.7
5,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...,3.8
6,"The Barbeque TimesM2K Corporate Park,Sector 51...","M2K Corporate Park,Sector 51, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...,4.1